<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776950903389-s4lfnds5sa9fuct9um9knp67gpgqg6lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776950903389-s4lfnds5sa9fuct9um9knp67gpgqg6lf</string>
	<key>API_KEY</key>
	<string>AIzaSyBHnZdTenGE4Sht2SvKVbynZSZa-GG4pOM</string>
	<key>GCM_SENDER_ID</key>
	<string>776950903389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabRider</string>
	<key>PROJECT_ID</key>
	<string>cab-rider-4192f</string>
	<key>STORAGE_BUCKET</key>
	<string>cab-rider-4192f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776950903389:ios:064cd089e71a6fa37e93b4</string>
	<key>DATABASE_URL</key>
	<string>https://cab-rider-4192f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>